<div class="row">
  <div class="col-md-8">
    <%= form_tag({controller: "calculator", action: "calculate"}, method: "get", class: "calc_form") do %>
      <div class="form-group">
        <%= label_tag(:revenue, "Revenue:") %>
        <%= number_field_tag(:revenue, nil, class: "form-control") %>
        <%= label_tag(:expense, "Expense:") %>
        <%= number_field_tag(:expense, nil, class: "form-control") %>
      </div>
      <%= submit_tag("Go!", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>