
<div class="col-sm-6">
  <%= form_tag({controller: "calculator", action: "basic_valuation"}, method: "get", class: "calc_form") do %>
    <div class="form-group row">
      <%= label_tag(:plan_length, "App Lifetime:", class: "col-form-label col-4") %>
      <%= number_field_tag(:plan_length, nil, class: "form-control col-4") %>
    </div>
    <div class="form-group row">
      <%= label_tag(:baseline_users, "Baseline users:", class: "col-form-label col-4") %>
      <%= number_field_tag(:baseline_users, nil, class: "form-control col-4") %>
    </div>
    <div class="form-group row">
      <%= label_tag(:pre_ad_growth, "User growth:", class: "col-form-label col-4") %>
        <%= number_field_tag(:pre_ad_growth, nil, class: "form-control col-4") %>
        <span class="input-group-addon">%</span>
    </div>
    <div class="form-group row">
      <%= label_tag(:pre_ad_years, "Years without ads:", class: "col-form-label col-4") %>
      <%= number_field_tag(:pre_ad_years, nil, class: "form-control col-4") %>
    </div>
    <div class="form-group row">
      <%= label_tag(:arpu, "Revenue per user:", class: "col-form-label col-4") %>
        <%= number_field_tag(:arpu, nil, class: "form-control col-4") %>
        <span class="input-group-addon">$</span>
    </div>
    <div class="col-form row">
      <%= label_tag(:discount_rate, "Discount rate:", class: "col-form-label col-4") %>
        <%= number_field_tag(:discount_rate, nil, class: "form-control col-4") %>
        <span class="input-group-addon">%</span>
    </div>
    <%= submit_tag("Go!", class: "btn btn-primary") %>
  <% end %>
</div>



