<!DOCTYPE html>
<html>
  <head>
    <title>Valuator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <% if Rails.env == "development" %>
        <div class="row">
          <div class="col-md-12">
            <%= params %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
